<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <jsp-file>/ReWrite/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>controller.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registroo</servlet-name>
        <servlet-class>controller.Registroo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/ReWrite/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>algo1</servlet-name>
        <servlet-class>algo1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>algo1</servlet-name>
        <url-pattern>/algo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registroo</servlet-name>
        <url-pattern>/Registroo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
