<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <jsp-file>/ReWrite/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Registroo</servlet-name>
        <servlet-class>controller.Registroo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviaCorreo</servlet-name>
        <servlet-class>controller.EnviaCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarObra</servlet-name>
        <servlet-class>controller.GuardarObra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajustes</servlet-name>
        <servlet-class>controller.Ajustes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarSello</servlet-name>
        <servlet-class>controller.VerificarSello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruebaDescifraTicket</servlet-name>
        <servlet-class>controller.PruebaDescifraTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prueba</servlet-name>
        <servlet-class>controller.Prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MandaCorreo</servlet-name>
        <servlet-class>controller.MandaCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisObras</servlet-name>
        <servlet-class>controller.MisObras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaReporte</servlet-name>
        <servlet-class>soporte.AltaReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaReporte</servlet-name>
        <servlet-class>soporte.ActualizaReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaFaqs</servlet-name>
        <servlet-class>soporte.AltaFaqs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/ReWrite/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>algo1</servlet-name>
        <servlet-class>algo1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>algo1</servlet-name>
        <url-pattern>/algo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registroo</servlet-name>
        <url-pattern>/Registroo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviaCorreo</servlet-name>
        <url-pattern>/EnviaCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarObra</servlet-name>
        <url-pattern>/GuardarObra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarSello</servlet-name>
        <url-pattern>/VerificarSello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaDescifraTicket</servlet-name>
        <url-pattern>/PruebaDescifraTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prueba</servlet-name>
        <url-pattern>/Prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajustes</servlet-name>
        <url-pattern>/Ajustes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MandaCorreo</servlet-name>
        <url-pattern>/MandaCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisObras</servlet-name>
        <url-pattern>/MisObras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaReporte</servlet-name>
        <url-pattern>/AltaReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaReporte</servlet-name>
        <url-pattern>/ActualizaReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaFaqs</servlet-name>
        <url-pattern>/AltaFaqs</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
